services:
  azuresql:
    image: mcr.microsoft.com/azure-sql-edge:latest
    container_name: budgetme-azuresql
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "YourStrong@Passw0rd"
      MSSQL_PID: "Developer"
    ports:
      - "1433:1433"
    volumes:
      - azuresql_data:/var/opt/mssql
      - ./init-db.sh:/init-db.sh
    healthcheck:
      test: /opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P "YourStrong@Passw0rd" -Q "SELECT 1" || exit 1
      interval: 10s
      timeout: 3s
      retries: 10
      start_period: 10s
    command: >
      /bin/bash -c "
      /opt/mssql/bin/sqlservr &
      sleep 30s &&
      /opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P YourStrong@Passw0rd -Q 'IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N\"budgetme\") CREATE DATABASE budgetme' &&
      wait
      "

volumes:
  azuresql_data:
    driver: local
